body, html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0;
    background-color: rgb(89, 89, 89); /*rgba(51, 51, 51, 0.974); */
}

.bg {
    /* The image used */
    background-image: url("../images/pexels-photo.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Summary */

.part-summary a{
    color:rgb(128, 127, 127);
}

.part-summary a:hover{
    color:rgb(34, 34, 34);
    text-decoration:cadetblue
}
/* title section */

#title-section{
    text-align:center;
    padding:4px;
    background:rgb(29, 29, 29);
    color:rgb(169, 169, 169);
    border-radius:4px;
}


/* Services section */

section > h2{
    text-align: center;
    color:whitesmoke;
    text-decoration: turquoise ;
}

.boxes{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 20px;
    text-align: center;
}

.box{
    box-shadow: 0 1px 5px black;
    padding:5px;
    background: rgba(51, 51, 51, 0.974);
}

/* .box > i,h5{
    color:white;
} */

.box h5{
    padding-top:5px;
    padding-bottom: 5px;
    font-family: 'Anton', sans-serif;
}

.box p{
    color:gray;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
}

/* skills section */

li{
    list-style-type:none;
}

.all-skills{
    display:grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    color:rgb(128, 127, 127);
}

.languages{
    box-shadow: 0 1px 5px black;
    padding:15px;
    background: rgba(51, 51, 51, 0.974);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
}

.frameworks{
    box-shadow: 0 1px 5px black;
    padding:15px;
    background: rgba(51, 51, 51, 0.974);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:1.2em;
}

.frameworks li{
    padding-bottom:5px;
}

/* Portfolio */
.all-portfolio{
    display:grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    box-shadow: 0 1px 5px black;
    padding:20px;
}


.card{
    box-shadow: 0 1px 5px black;
    padding:15px;
    background: rgba(51, 51, 51, 0.974);
}
.card-content{

    background:rgba(51, 51, 51, 0.974);
    padding:15px;
}

.card-content p{
    color:rgb(231, 231, 238);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
}

.card-content blockquote{
    color:rgb(148, 147, 147);
    font-family: 'Amatic SC', cursive;
    font-size:1.1em;
}

.card-content a{
    color:rgb(128, 127, 127);
}

.card-content a:hover{
    color:rgb(216, 216, 216);
    text-decoration:none;
}

.card img{
    width: 100%;
}
#link-git{
    text-align: center;
}

#link-git a{
    color:rgb(128, 127, 127);
}

#link-git a:hover{
    color:rgb(216, 216, 216);
    text-decoration:none;
}


.git-link{
    border:4px solid  rgba(51, 51, 51, 0.974);
    padding:6px;
    color:rgb(128, 127, 127);
    background-color:  rgba(24, 23, 23, 0.974);
}

/* Certificate and Accomplishment section */

.certificate{

    display:grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(200px, 2fr));
    box-shadow: 0 1px 5px black;
    padding:20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3em;
    text-align: center;
}

.certificate a{
    text-decoration: none;
    color:rgb(128, 127, 127);
}

.certificate a:hover{
    color:black;
    text-decoration: none;
}
/* footer */

/*footer .social-links a
{
    display:inline-block;
    color:rgba(255,255,255,0.6);
    text-decoration:none;
    margin:0 4px;height:36px;width:36px;
    font-size:1.6rem;
    line-height:2.3;
    background-color:rgba(0,0,0,0.1);
    border-radius:50px;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
footer .social-links a:hover{
    color:#fff;
    background-color:rgba(0,0,0,0.3);
    border:none;
}