html{
    font-family: Roboto;
}
body{
    margin:0;
    background:rgb(97, 97, 97);
    color:rgb(201, 201, 201);
}

.account{
    /* background: yellow; */
    position:absolute;
    right:8px;
    top:15px;
}

.account button{
    text-decoration: none;
    border:none;
    text-align:center;
    background:white;
    color:black;
    border-radius:5px;
    padding:3px 8px;
    margin-right:10px;
}

.slider .slides ul>li{
    height:100%;
}

.news_letter{
    background: rgb(184, 184, 184);
    padding:10px;
}

/* section house plans and house-items */

section h5.header-section{
    text-align:center;
    font-family: 'PT Sans Narrow', sans-serif;
}

section .card:hover{
    box-shadow: 0 4px 9px black;
}

.section p#intro{
    text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Equal height solved */
.flex{
    display: flex;
    flex-wrap: wrap;
}

/* item per page */
.product img{
    width:100%;
}

.spec a.btn-cust{
    text-align: center;
    width:100%;
}

.spec-item{
    padding:5px;
    border-radius: 6px;
    background-color: rgb(84, 84, 84);
    font-family: 'Rajdhani', sans-serif;
    font-size:1.3em;
}

.spec-item h5{
    text-align:center;
}

@media(max-width:500px){
    .account{
        /* background: yellow; */
        position:absolute;
        right:8px;
        top:15px;
    }
    
    .account button{
        text-decoration: none;
        border:none;
        text-align:center;
        background:white;
        color:black;
        border-radius:5px;
        padding:3px 8px;
        margin-right:10px;
    }
}

@media(max-width:460px){
    .account{
        display: none;
    }
    
    
}