/* Main css for Ladrillo */
@font-face {
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: normal;
    src: local('Tw Cen MT'), url('Tw Cen MT.woff') format('woff');
    }

body,html{
    color:rgb(71, 70, 70);
    font-family: 'Tw Cen MT';
    margin:0 auto;
    background: rgb(255, 254, 254);
}

/* slider edit */
    /* .slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .slider .indicators .indicator-item.active {
    background-color: #ffffff;
    }
    .slider {
    width: 900px;
    margin: 0 auto;
    } */
    .slider .indicators {
        visibility: hidden;
    /* bottom: 60px;
    z-index: 100; */
    /* text-align: left; */
    }



/* navbar */
li#link-nav{
    font-size:1.8em;
}

#section-title{
    text-align: center;
}

.showcase{
    height:400px;
    width:100%;
}

.showcase img{
    height:100%;
}

.who_we_are{
    /* color:white; */
    font-size:1.3em;
    max-height: 350px;
    /* background:url('../intro-picture.jpg') ;
    /* background: rgba(128, 128, 128, 0.376);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
}
span#span-purple{
    color:rgba(179, 15, 179, 0.5);
}

/* work */
span#span-blue{
    color:rgb(39, 39, 240);
}

span#radius-purple{
    padding:10px;
    background-color:rgba(179, 15, 179, 0.5);
    border-radius: 15px;
}

span#radius-blue{
    padding:10px;
    background-color: rgba(39, 39, 240, 0.678);
    border-radius: 15px;
}

/* work-flow */
.work-back{
    height: 250px;
    /* width:100%; */
    /* padding:20px; */
    background: url('../images/cabinets-carpet-clean-245219.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-flow{
    background: rgba(255, 255, 255, 0.609);
    height: 100%;

}

.flow{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 15px;
    text-align:center;
}

.flow i{
    color:rgb(245, 241, 241);
    background-color:rgba(184, 12, 184, 0.616);
    padding:25px;
    border-radius:50%;
}

/* services */
.service{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 20px;
    text-align:center;
}